<br />
<div *ngIf="!isOpenSubmitPage" class="container">
  <div *ngIf="quiz">
    <h1> {{quiz.description}} </h1>
    <div class="float-right">
      <fa-icon [icon]="faClock"></fa-icon> {{ ellapsedCurrentTime }} / {{ ellapsedMaxTime }}
    </div>
    <br />
    <div class="card">
      <div class="card-header">
        <h3> {{ quiz.name }} </h3>
      </div>
      <div class="card-body">
        <div *ngIf="isOpenQuizPage">
          <blockquote class="blockquote mb-0">
            <p>
              <ngb-progressbar type="info" [value]="quizProgress"></ngb-progressbar>
            </p>
            <div *ngFor="let question of filteredQuestions; let i = index">
              <div *ngIf="question.questionTypeId === 1">
                <div class="card-title">
                  <span class="badge badge-pill badge-info"> Câu {{ pager.index + 1 }} </span>
                </div>
                <div class="card-text">
                  {{ question.name }}
                </div>
                <div class="custom-control custom-radio" *ngFor="let option of question.options">
                  <label class="container"> {{ option.name }}
                    <input type="radio" id="customRadio{{option.id}}" class="custom-control-input"
                      [(ngModel)]="question.userAnswer" name="{{option.id}}" [value]="option.name">
                    <span class="checkmark"></span>
                  </label>
                </div>
  
              </div>
              <div *ngIf="question.questionTypeId === 2">
                <div *ngIf="question.questionTypeId === 2">
                  <span class="badge badge-pill badge-info"> Câu {{pager.index + 1 }} </span>
                </div>
                <div class="form-group">
                  <label> {{question.name}} </label>
                  <br />
                  <div class="form-row">
                    <div class="col-4">
                      Đáp án của bạn
                    </div>
                    <div class="col">
                      <input class="form-control" type="text" [(ngModel)]="question.userAnswer" />
                    </div>
                  </div>
                </div>
              </div>
              <hr />
            </div>
          </blockquote>
        </div>
  
        <div *ngIf="isOpenReviewPage">
          <h3> Xem lại bài làm </h3>
          <h4> Danh sách câu hỏi </h4>
          <div class="row">
            <div class="col-4" *ngFor="let question of quiz.questions; let i = index;">
              <ng-container *ngIf="question.userAnswer">
                <div id="quiz-review" (click)="goTo(i)" class="cursor-pointer p-3 mb-2 bg-info">
                  {{ i + 1 }}. Đã chọn
                </div>
              </ng-container>
              <ng-container *ngIf="!question.userAnswer">
                <div id="quiz-review" (click)="goTo(i)" class="cursor-pointer p-3 mb-2 bg-warning">
                  {{ i + 1 }}. Chưa được chọn
                </div>
              </ng-container>
            </div>
          </div>
        </div>
  
        <div class="text-center">
          <button [disabled]="checkPreviousQuestion" class="btn btn-default" (click)="goTo(pager.index - 1);">
            <fa-icon [icon]="faAngleLeft"></fa-icon> Câu trước
          </button>
          <button [disabled]="checkNextQuestion" class="btn btn-default" (click)="goTo(pager.index + 1);"> Câu tiếp theo <fa-icon
              [icon]="faAngleRight"></fa-icon> </button>
        </div>
        <br />
        <div class="text-center">
          <button class="btn btn-warning btn-space" (click)="onBack()">
            <fa-icon [icon]="faArrowLeft"> </fa-icon> Quay lại
          </button>
          <button class="btn btn-info btn-space" (click)="onReview()">
            <fa-icon [icon]="faEdit"> </fa-icon> Xem lại bài
          </button>
          <button class="btn btn-primary btn-space" (click)="onSubmit()">
            <fa-icon [icon]="faFile"></fa-icon> Nộp bài
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<div *ngIf="isOpenSubmitPage" class="container">
  <div class="card">
    <div class="card-header">
      <h3>
        <fa-icon [icon]="faAward"></fa-icon> Hoàn tất bài ôn tập!
      </h3>
    </div>
    <div class="card-body">
      <div *ngIf="!isOpenResultPage">
        <div class="row">
          <div class="col col-sm-4 col-lg-3">
            <img src="assets/img/trophy.png" width="100%" height="auto">
          </div>
          <div class="col col-sm-6">
            <h5> Số lượng câu đúng của bạn: {{ correctAnswers }} / {{ numberAnswers }} câu </h5>
            <h5> Thời gian hoàn thành {{ ellapsedCurrentTime }} </h5>
          </div>
        </div>
        <br />
        <div class="text-center">
          <button class="btn btn-secondary btn-space" (click)="reset()">
            <fa-icon [icon]="faPen"></fa-icon> Làm lại
          </button>
          <button class="btn btn-info btn-space" (click)="goToResultPage()">
            <fa-icon [icon]="faFileAlt"></fa-icon> Xem chi tiết kết quả
          </button>
          <button class="btn btn-success btn-space">
            <fa-icon [icon]="faPaperPlane"></fa-icon> Gửi kết quả
          </button>
        </div>
      </div>
      <div *ngIf="isOpenResultPage">
        <h3> Kết quả </h3>
        <div class="container">
            <div *ngFor="let question of quiz.questions; let i = index;">
              <span class="badge badge-pill badge-info">Câu {{ i + 1 }}.</span>
              {{ question.name }}
              <div class="row">
                  <div class="col">
                      <p> Đáp án của bạn:  {{ question. userAnswer }} </p>
                      <div *ngIf="question.questionTypeId === 1">
                          <div class="alert alert-success" *ngIf="displayResult(question) === true"> <fa-icon [icon]="faCheck"></fa-icon> đúng </div>
                          <div class="alert alert-danger" *ngIf="displayResult(question) === false"> <fa-icon [icon]="faTimes"></fa-icon> sai </div>
                      
                    </div>

                    <div *ngIf="question.questionTypeId !== 1"> 
                        <div class="alert alert-success" *ngIf="question.userAnswer === question.correctAnswer"> <fa-icon [icon]="faCheck"></fa-icon> đúng </div>
                        <div class="alert alert-danger"  *ngIf="question.userAnswer !== question.correctAnswer"> <fa-icon [icon]="faTimes"></fa-icon> sai </div>
                    </div>
                  </div>
              </div>
              <!-- <ng-container *ngIf="question.userAnswer">
                <div id="quiz-review" (click)="goTo(i)" class="cursor-pointer p-3 mb-2 bg-info">
                  {{ i + 1 }}. Đã chọn
                </div>
              </ng-container>
              <ng-container *ngIf="!question.userAnswer">
                <div id="quiz-review" (click)="goTo(i)" class="cursor-pointer p-3 mb-2 bg-warning">
                  {{ i + 1 }}. Chưa được chọn
                </div>
              </ng-container> -->
            </div>
          </div>
        <div class="text-center">
          <button class="btn btn-secondary btn-space" (click)="isOpenResultPage=false">
            <fa-icon [icon]="faArrowLeft"></fa-icon> Quay lại
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<br/>